{% load staticfiles %}
{% load leaflet_tags %}
<html>
    <head>
        {% leaflet_js %}
        {% leaflet_css %}
        <style type="text/css">
            html {
                font-family: "Corbel";
                font-size: 12px; 
                margin: 0px;
                padding: 0px; 
            }
            
            table { 
                font-size: 12px; 
            }

            #gis {width: 80%; height: 700px;}

        </style>
        <title>Projecten Ingenieursbureau Amsterdam</title>
        <meta charset="utf-8" />
        <link rel="icon" href="https://www.amsterdam.nl/favicon.ico" type="image/x-icon">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <script type="text/javascript" src="{% static '/js/leaflet.ajax.min.js' %}"></script>
        <script type="text/javascript" src="{% static '/js/leaflet.wms.js' %}"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/datatables.min.css"/>
 
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.16/b-1.4.2/b-html5-1.4.2/datatables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
        <link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css">
    </head>

    <body>
        <div><h1>Projecten Ingenieursbureau Amsterdam<h1></div>

        <script type="text/javascript" >
        dataSet = [];
        columns = [];

        function loadData(map, options) {
            var datasets = new L.geoJson.ajax("{% url 'projecten' %}", { 
              
              onEachFeature: function onEachFeature(feature, layer) {

                console.log(feature);
                var props = feature.properties;

                // Run function to generate Table
                fillTable(feature)
                console.log(props);
                    
                // Create popup content dynamically

     //            content = '<ul>'
                // for (var key in props) {
              //    if (props.hasOwnProperty(key) && props[key] != null) {
              //        console.log(key + " -> " + props[key]);
              //        var value = String(props[key]);
              //        if (key == 'Projectnaam'){
              //            content += '<h2>' + value + '</h2>'
              //            continue
              //        }
              //        if (key == 'startdatum'){
              //            var startdatum = value;
              //            continue
              //        }
              //        if (key == 'einddatum'){
              //            var einddatum = value;
              //        } 
              //        if (key == 'email'){
                            
              //        } 
              //        if (startdatum && einddatum) {
              //            content += '<p>Periode: ' + startdatum + ' t/m ' +einddatum +'</p>';
              //        }
              //        else {
        //                  content += '<li>'+key + ':' + value + '</li>';
        //              }
              //        }
              //   }
              //   content += '</ul>'

                var content = `<h3>${props.Locatie}</h3><p>${props.Type}</p><p>Periode: ${props.startdatum} t/m ${props.einddatum}</p><table><tr><td>Opdrachtverantwoordelijke:</td><td><a href="mailto:${props.Opdrachtverantwoordelijke[1]}">${props.Opdrachtverantwoordelijke[0]}</a></td></tr><tr><tr><td></td><td></td></tr></table>`;

   // var content = `<h3>${props.Projectnaam}</h3><p>${props.Type}</p><p>Periode: ${props.startdatum} t/m ${props.einddatum}</p><table><tr><td>Opdrachtverantwoordelijke:</td><td><a href="mailto:${props.Opdrachtverantwoordelijke.Email}">${props.Opdrachtverantwoordelijke.Voornaam} ${props.Opdrachtverantwoordelijke.Achternaam}</a></td></tr><tr><tr><td></td><td>${props.Opdrachtverantwoordelijke.Telefoon}</td></tr></table>`;


                layer.bindPopup(content);
            }});

            var overlays = {
              "Stadsdelen": L.WMS.overlay('https://map.data.amsterdam.nl/maps/gebieden',
                              { layers: 'stadsdeel,stadsdeel_label',
                                format: 'image/png',
                                transparent: true
                                }),
              "Gebieden":   L.WMS.overlay('https://map.data.amsterdam.nl/maps/gebieden',
                              { layers: 'gebiedsgerichtwerken,gebiedsgerichtwerken_label',
                                format: 'image/png',
                                transparent: true
                                }),
              "Wijken":     L.WMS.overlay('https://map.data.amsterdam.nl/maps/gebieden',
                              { layers: 'buurtcombinatie,buurtcombinatie_label',
                                format: 'image/png',
                                transparent: true
                                }),
              "Buurten":    L.WMS.overlay('https://map.data.amsterdam.nl/maps/gebieden',
                              { layers: 'buurt,buurt_label',
                                format: 'image/png',
                                transparent: true
                                }),
              "Luchtfoto":    L.WMS.overlay('https://map.data.amsterdam.nl/maps/lufo',
                              { layers: 'lufo2016',
                                format: 'image/png',
                                transparent: false
                                })
              };   

            //Load control layers 
            L.control.layers(overlays).addTo(map); 
            // Load default baselayer
            //baseLayers['Openstreetmap'].addTo(map);
            // Load default overlay
            //overlays['Luchtfoto'].addTo(self.myMap);


            overlays['Stadsdelen'].addTo(map).setOpacity(1);
            datasets.addTo(map);            
            console.log(datasets);

        }

        

        function fillTable(feature) {
            var properties = feature.properties;
            row = [];
            for (var prop in properties) {
               if (properties.hasOwnProperty(prop)) { 
                        row.push(properties[prop]);
                            if (dataSet.length < 1) {
                                columns.push({title:prop});
                            }
                    
                }
            }
            dataSet.push(row);
    
            // for (var prop in properties) {
            //    if (properties.hasOwnProperty(prop)) { 
            //    // or if (Object.prototype.hasOwnProperty.call(obj,prop)) for safety...
            //      console.log("prop: " + prop + " value: " + properties[prop]);
            //         document.getElementById("properties").innerHTML = document.getElementById("properties").innerHTML + "<tr><td>" + prop + "</td><td>" + properties[prop] + "</td></tr>";
            //    } 
            // }

            console.log(dataSet);
            console.log(columns);
            //gantt(dataSet);
            $(document).ready(function() {
             $('#example').DataTable( {
                data: dataSet,
                "searching": true,
                columns: columns,
                "sDom": '<f<t><B>lip>',
                //retrieve: true,
                destroy: true,
                buttons: [
                   'excel'
                ]
                } );
            } );

        }
        </script>
        <div class="content-wrapper">
            {% leaflet_map "gis" callback="window.loadData" %}
            <!--<table id="properties"></table>-->
            <table id="example" class="display" width="100%"></table>
            <div id="ganttTitle"></div>
        </div>

        
           <script>
            function gantt(dataToReturn) {

                console.log(dataToReturn);

            // ----------------------------------------------------
            // Gantt chart
            // ----------------------------------------------------

                $("#ganttTitle").text('Projecten in tijd');

            // var typeOfQuestions = d3.nest()
            //    .key(function(d) { return d.List; })
            //    .map(dataToReturn)

            //console.log(typeOfQuestions);

            var colors = d3.scaleOrdinal(d3.schemeCategory10);

            var colors = d3.scaleOrdinal()
              .range(color);


            var yOffset = 8;


            function setHeight(d) {return d.length};


            var heightDynamic= setHeight(dataToReturn)*7;

            var margin = {top: 20, right: 20, bottom: 70, left: 40};
                width = 1200 - margin.left - margin.right;
                height = 1500 - margin.top - margin.bottom;
              
              
              
             

              var x = d3.scaleTime()
                  .range([0, width]);

              var y = d3.scaleLinear()
                  .range([height, 0]);

             // Scale the range of the data
              x.domain(d3.extent(dataToReturn, function(d) { return d3.timeWeek(d.startDate); }));
              //y.domain([0, d3.max(data, function(d) { return d.value; })]);
              y.domain(d3.extent(function(d) { return dataToReturn.id}));

            var gantt = d3.select("#gantt-Chart").append("svg")
                .attr("width", width + margin.left + margin.right)
                .attr("height", height + margin.top + margin.bottom)
                .append("g")
                .attr("transform", 
                      "translate(" + margin.left + "," + margin.top + ")");



            var tooltip2 = d3.select('#gantt-Chart')            
                .append('div')                             
                .attr('class', 'tooltip');                

              tooltip2.append('div')                        
              .attr('class', 'label'); 


            //for (i = 0; i < dataToReturn.length; i++) {
            //  if (dataToReturn[i].id=='57ea3ec2e67a03d92305a01a') {console.log(dataToReturn[i]);}};

            gantt.append("g").selectAll("rect")
              .data(dataToReturn)
              .enter()
              .append('rect')
              .attr('x', function(d){ return x(d3.timeWeek(d.startDate));})
              .attr('y', function(d,i) {return (i*yOffset)+'px'})
              .attr('height','6px')
              .attr('width',function(d){ widthDays = x(d3.timeWeek(d.endDate)) - x(d3.timeWeek(d.startDate));
                                         if (widthDays == 0) {widthDays = 10};
                                         return widthDays;})  
              .style("fill", function(d) { return colors(d.List); })
                .on("mouseover", function (d) {                                  
                      d3.select(this)                          //on mouseover of each line, give it a nice thick stroke
                       .style("stroke","black")
                       .style("stroke-width",1);})
                .on("click", function (d) {                                  
                      d3.select(this)                          //on mouseover of each line, give it a nice thick stroke
                       .style("stroke","black")
                       .style("stroke-width",1);
                      //on mouseover get ID and use it as filter on legend
                      var getId = d3.select(this).attr("id");  
                      tooltip2.select('.label').html(d.List+'<br>'+formatMonth(d.startDate)+': <a target="blank" href="'+d.Url+'">'+d.Projectnummer+'</b></a><br>'+
                                                                                '<b>'+d.Omschrijving+'</b>');
                      tooltip2.style('display', 'block').transition().duration(1200);
                      tooltip2.style('top', (d3.event.layerY + 10) + 'px')
                              .style('left', (d3.event.layerX + 10) + 'px');
                 //    }
                      })
                    .on("mouseout", function(d) {
                      d3.select(this)
                      .style("stroke-width",0);  
                      tooltip2.transition()
                        .delay(2000)
                        .style('display', 'none');
                     });
                  //.on('mousemove', function(d) {
                  //    tooltip2.style('top', (d3.event.layerY + 10) + 'px')
                 //     .style('left', (d3.event.layerX + 10) + 'px');
                 //    });

            padding = 0;
              

              //var xAxis = d3.axisBottom(x)
              //    .tickFormat(d3.timeFormat("%b"));
                     
                 
                    // draw x axis with labels and move to the bottom of the chart area
                //    gantt.append("g")
                  //      .attr("class", "xaxis")   // give it a class so it can be used to select only xaxis labels  below
                    //    .attr("transform", "translate(0,0)")      
                      //  .call(xAxis);

            // gridlines in x axis function
            function make_x_gridlines() {   
                return d3.axisBottom(x)
                    .ticks(5)
            }


              // add the X gridlines
              gantt.append("g")     
                  .attr("class", "grid")
                  .attr("transform", "translate(0," + height + ")")
                  .call(make_x_gridlines()
                      .tickSize(-height)
                      .tickFormat("")
                  )


             // add the X Axis
              //gantt.append("g")
              //    .attr("transform", "translate(0,0)")
              //    .attr("class", "x-axis")
              //    .call(d3.axisBottom(x))
               //    .tickFormat(d3.timeFormat("%b"))

            gantt.select(".tick").selectAll("text")
                 .attr("transform", "translate(20,0)")


                          // Add the y Axis
             gantt.append("g")
                   .attr("class", "y axis")
                   .attr("transform", "translate(-20,0)")  
                  .call(d3.axisLeft(y));
             
              // text label for the y axis
              gantt.append("g").selectAll("text")
                  .data(dataToReturn)
                  .enter().append("text")
                  //.attr("transform", "rotate(-90)")
                  .attr("y", function(d,i) {return (i*yOffset)-(yOffset/2)+'px'})
                  .attr("x", -20 )
                  .attr("dy", "1em")
                  .style("text-anchor", "middle")
                  .text(function(d){return d.Projectnummer});   

            // gridlines in y axis function
            function make_y_gridlines() {   
                return d3.axisLeft(y)
                    .ticks(5)
            }


            // add the Y gridlines
              gantt.append("g")     
                  .attr("class", "grid")
                  .call(make_y_gridlines()
                      .tickSize(-width)
                      .tickFormat("")
                  )

            //var legendOrdinal = d3.legendColor()
              //d3 symbol creates a path-string, for example
              //"M0,-8.059274488676564L9.306048591020996,
              //8.059274488676564 -9.306048591020996,8.059274488676564Z"
             // .shape("path", d3.symbol().type(d3.symbolTriangle).size(150)())
             // .shapePadding(10)
             // .scale(color);
            }

        </script>
    </body>
</html>

